attrs            
certifi           
gherkin-official 
h11              
idna             
iniconfig        
Mako              
MarkupSafe       
outcome          
packaging      
parse            
parse_type     
pip              
pluggy           
Pygments         
PySocks         
pytest          
pytest-bdd      
selenium         
six              
sniffio           
sortedcontainers
trio             
trio-websocket   
typing_extensions 
urllib3         
websocket-client 
wsproto          